.notification {
    background-color: #008B5D;
    padding: 24px;
    border-radius: 8px;
    height: 148px;
    max-height: 148px;
    display: grid;
    grid-template-columns: 72px 1fr;
    align-items: center;
    gap: 16px;
    color: #fff;
}

.notification-illustration {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: var(--semi-bold);
    margin: 0;
}

.notification-content {
    display: grid;
    gap: 4px;
    font-size: 15px;
    line-height: 22px;
}

@media screen and (max-width: 1024px) {
    .notification {
        padding: 16px;
        height: auto;
        max-height: none;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .notification-illustration img {
        width: 70%;
        height: 70%;
    }

    .notification-title {
        text-align: center;
    }
}